h1 {
  font-size: 2.4em !important;
}

h2 {
  font-size: 2em !important;
}

h3 {
  font-size: 1.75em !important;
}

h4 {
  font-size: 1.5em !important;
}

h5 {
 font-size: 1.25em !important;
}

h6 {
  font-size:1em !important;
}


#text-15 h5 {
	color:#fff;
	text-transform:uppercase;
}

#site-logo {
	max-width:185px;
}

.user-signup-header i {
	display:none;
}

.top-header {
    padding:5px 0 !important;
	a {
		font-family: 'Montserrat', sans-serif;
		color:#fff;
		font-size: 0.75em;
		text-transform: uppercase;
		padding:5px;
	}
	ul {
		margin:0;
		padding:0;
		float: right;
		li {
			list-style: none;
			display: inline;
		}
	}
}

.header-custom-contact {
    float:right;
    margin:10px -15px 0 0;
    .contact-info {
        float:left;
        text-align:right;
        width:46%;
    }    
    h2 {
        font-size:.9em !important;
        color:#fff;
        text-transform:uppercase;
        margin:0;
        padding:10px 0;
    }
    h3 {
        font-size:1.5em !important;
        color:#fff;
        margin:0;
        padding:0 0 10px 0;
        a {
            color:#fff;
        }
    }
    img {
        float:right;
        width:50%;
    }
}

#site-logo {
  margin: -5px 0 -40px 0;
  padding: 0;
}

#hji-theme-logo-widget-1 {
  z-index:99;
  overflow:visible;
}

.banner .header-widgets .blvd-responsive-menu {
  margin-top:-45px;
  z-index:9;
}


@media (min-width: 991px) {
  .banner .header-widgets .blvd-responsive-menu {
    margin-top:-45px;
  }
}

.blvd-logo {
    overflow:show;
}

.navbar-toggle {
    top:10px;
}

@media (max-width:1200px) {
    .navbar-collapse {
        border:none;
        box-shadow:none;
    }
    .blvd-responsive-menu ul li {
        border-right:none;
    }
    .banner .header-widgets .blvd-responsive-menu {
        background:none;
        margin-top:125px !important;
    }
}

body:not(.home) #content {
    box-shadow:none;
}