#footer{
  margin: 0 auto;
  text-align: center;

  .socialmedia-footer {
    .fa:before {
      display: block;
      font-size: 30px;
      line-height: 40px;
      border: 2px solid #fff;
      width: 50px;
      height: 50px;
      transition: all 0.2s ease-in-out 0s;
      margin: 10px 10px 10px 10px;
      color: #fff;

    }

  }

  .nav{
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }

  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background: transparent;
  }

  .nav > li > {

    a {
      color: $brand-primary;
      padding: 5px 8px;
      font-weight: 400;
      font-family:$navbar-font-family;
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  .line{
    border-bottom: 1px solid #fff;
    display: block;
    padding: 0px 0px 20px;
    margin-bottom: 20px;
  }


  #copyright{
    margin-top: 30px;
  }

}