.banner .top-header{
  padding: 0px 0px 50px 0px;
  border-bottom: 0px;

  .btn-second {
    color: #333;
    background-color: #f0f0f0;
    border-color: #c2c2c2;
  }

  .btn{
    margin-top: 10px;
    padding: 6px 50px;
  }
}

#site-logo{
  padding-top: 30px;
  margin-left: -20px;
  padding-bottom: 20px;
}

.headertext h2 {
  font-size: 2.8em;
  width: 80%;
  text-align: center;
  margin: 20px 0 10px 0;
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 2px 2px 1px rgba(255,255, 255, 0.8);
  line-height: 1.1em;
}

.big_phone {
  font-weight: 100;
  color: #000;
  font-size: 3em;
  margin-bottom: -5px;
  line-height: 1.1em;
  padding: 10px 0px 0px;
  @media (max-width: 1199px){
    font-size: 2.4em;
  }
}


.checkin {
  margin-top: 5px;
  padding: 5px;
  color: #000;
  font-size: 1.3em;
  margin-bottom: 0px;
  line-height: 1.1em;
  background: #f0f0f0;
  font-weight: 300;
  @media (max-width: 1199px){
    font-size: 2.4em;
  }

}

.email_text{
  font-size: 15px;
  letter-spacing: 1px;
  @media (max-width: 1199px){
    font-size: 13px;
  }

}

.number-center{
  @media (max-width: 992px){
    margin-top: 40px;
    margin-bottom: -30px;
    padding: 10px 0px 10px;
    border-top: 4px solid  #f0f0f0;
    text-align: center;
  }


}


//sub-header

#sub-header {
  margin-top: 0px;
  padding: 10px 0px;

  .nav{
    @media (min-width: 992px) {
      float: right;
    }
  }

  .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background: transparent;
  }

  .nav > li > {

    a {
      color: $brand-primary;
      padding: 5px 8px;
      font-weight: 400;
      font-family:$navbar-font-family;
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  .user-signup-header {
    margin-top: 0px;
    border-left: 2px solid darken($brand-third, 34%);
    text-align: left;
    @media(max-width: 1200px){
      border-left: 0px;
      padding: 10px 0px;
    }

    a {
      color: #5a5a5a;
      font-size: 12px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }

  }

  .socialmedia-footer {
    text-align: left;
    .fa:before {
      display: block;
      font-size: 20px;
      transition: all 0.2s ease-in-out 0s;
      margin: 0px 10px 0px 0px;
      color: darken($brand-primary, 5%);
      @media (max-width: 1200px) {
        margin: 0px 4px 0px 0px;
      }
    }
    @media (max-width: 1200px){
      text-align: left;
      padding: 8px 0px 10px 8px;
    }
  }

}


//Menu

@media (min-width: 991px) {
  .banner .header-widgets .blvd-responsive-menu {
    margin-top: 4px;
    margin-bottom: 0px;
    padding: 10px 0px;
    background: #009b9c;
    border-radius: 4px;
  }
}


.navbar-toggle {
  top: 80px;
  background: $brand-primary;

}