.home .nav-tabs{
  i{
    font-size: 5.5em;
    display: block;
    @media (max-width: 1199px){
      font-size: 4.5em;
    }
  }

}

.home .nav-tabs{
   @media (min-width: 992px) {
     clear: left;
     float: left;
     position: absolute;
     left: 50%;
     top: -30px;
     text-align: center;
     border-bottom: 0px;
   }
}

.home .nav-tabs li {
  @media (min-width: 992px) {
    border-bottom-width: 0;
    display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 50%;
  }

}

.home .nav-tabs>li>a{
  width: 150px;
  font-size: 13px;
  font-weight: bold;
  font-family:$navbar-font-family;
  text-transform: uppercase;
  background: $brand-third;
  opacity: 0.9;
  border: 0px;
  color: $brand-second;
  text-align: center;
  margin: 0 auto;
  @media (max-width: 1199px) {
    width: 120px;
    font-size: 11px;
  }

}

.home .nav-tabs>li.active>a, .home .nav-tabs>li.active>a:focus, .home .nav-tabs>li.active>a:hover{

  font-family:$navbar-font-family;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #000;
  opacity: 0.8;
  border: 0px;
  color: $brand-primary;
  text-align: center;
  margin: 0 auto;

}

.home .tab-content{
  margin-top: 100px;
  background: #000;
  opacity: 0.9;
  h1{
    color: $brand-primary;
    font-size: 3.2em;
    text-shadow: 1px 1px #fff;
    text-align: center;
    span{
      color: $brand-second;
      text-shadow: 1px 1px #fff;
    }
    @media(max-width: 1200px){
      font-size: 2.4em;
    }
  }

  @media(max-width: 992px){
    margin-top: 0px;
  }
}

.home .tab-pane{
  padding: 14px 20px;
}



//////////////First Widget

.first-widget{
  margin-top: 50px;
  padding: 40px 0px;
  background: #fff;
  h2{
    font-size: 3.5em;
    color: #000;
    margin-bottom: 20px;
  }

  h3{
    font-family:$navbar-font-family;
    text-transform: uppercase;
    font-size: 1.1em;

  }


}

/////////////Second Widget

.second-widget{
  padding: 40px 0px;
  background: $brand-primary;
  color: #fff;
  h2{
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
  }

  h3{
    font-family:$navbar-font-family;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.1em;

  }

  .teal-box{
    background: #000;
    padding: 30px;
    h2{
      color: #fff;
    }
    @media (min-width: 992px){
      margin: -40px 0px -35px;
    }
  }

}


////Recent Post

.widget_recent_entries{
  ul{
    li {
      margin-left: -3em;
      border-bottom: 1px dashed #fff;
      padding: 10px 0px;
      > a{
        padding-left: 10px;
        color: #fff;
      }
      :before {
        content: "\f178";
        font-family: FontAwesome;
        display: inline-block;
        width: 0px;
        padding-right: 2em;
      }
    }
  }
}


//////////Third Widget

.third-widget{
  padding: 30px 0px 50px;
  background: #ffffff;
  h2{
    font-size: 3.5em;
    color: #000;
    margin-bottom: 30px;
    text-align: center;
  }

  h3{
    font-family:$navbar-font-family;
    text-transform: uppercase;
    font-size: 1.1em;
    text-align: center;
  }

  @media (min-width: 992px) {
    .clients-logo {
      border-right: 1px solid #cccccc;
    }
  }

}