///////////////////////////////////////////////////////////////////////////
////////                  Dawn Houlf sylesheet                     ///////
/////     all custom css by kevin mccartney for homejunction inc.     /////
///////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////
// $contents                              //
//      $mixins/vars/imports    [_mxns_]  //
//      $global/resets          [_glob_]  //
//      $header                 [_head_]  //
//      $home-page              [_home_]  //
//      $content-pages          [_cont_]  //
//      $footer                 [_foot_]  //
////////////////////////////////////////////

////////////////////////////////////////
//    $mixins/vars/imports    [_mxns_]    
////////////////////////////////////////

// PSA:
// I know I said imports, but really don't import here
// unless they are about to cut your arm off.

// color vars- these can be trimmed at your discretion
$brand-primary-light-20: lighten($brand-primary, 20%); 
// $brand-primary-light-30: lighten($brand-primary, 30%);
// $brand-primary-light-40: lighten($brand-primary, 40%);
// $brand-primary-light-50: lighten($brand-primary, 50%);

$brand-primary-dark-20: darken($brand-primary, 20%); 
$brand-primary-dark-30: darken($brand-primary, 30%);
// $brand-primary-dark-40: darken($brand-primary, 40%);
// $brand-primary-dark-50: darken($brand-primary, 50%);

$white: #fff;
$black: #000;
// $grey: #808080;

// $grey-light-20: lighten($grey, 20%); 
// $grey-light-30: lighten($grey, 30%);
// $grey-light-40: lighten($grey, 40%);
// $grey-light-50: lighten($grey, 50%);

// $grey-dark-20: darken($grey, 20%); 
// $grey-dark-30: darken($grey, 30%); 
// $grey-dark-40: darken($grey, 40%);
// $grey-dark-50: darken($grey, 50%);

// a mixin for a custom hover effect. Can set several properties related to link hover behavior.
// uncomment the commented lines for even more functionality.
@mixin pretty_hover($pretty_decoration, 
                    // $pretty_shadow, 
                    $pretty_color,
                    // $pretty_bg_color, 
                    $pretty_trans) {
    transition: $pretty_trans;  
    &:hover,
    &:active {
        text-decoration: $pretty_decoration;
        // text-shadow: $pretty_shadow; 
        color: $pretty_color !important;
        // background-color: $pretty_bg_color !important;
    }
}

// for the sake of brevity? I like mixins....
@mixin no_borders {
    border: 0;
}

// this mixin styles the active tabs in Geofarms, etc.
@mixin tab_styling {
    @include no_borders;
    background-color: $brand-primary;
    text-shadow: $brand-primary-dark-20 2px 2px 4px;
    color: #fff;
}

// So in Bootstrap 4, there will be a $screen-xs AND $screen-xxs, so $screen-xs will 
// take over the functionality of this mixin
// https://github.com/twbs/bootstrap/issues/14504 
// Until then, I made this. 
@mixin mobile_landscape {
    $mobile_landscape_min: 480px;
    $mobile_landscape_max: 767px;
    @media(min-width: $mobile_landscape_min) and (max-width: $mobile_landscape_max) { @content; }
}

////////////////////////////////////////
//    $global/resets   [_glob_]    
////////////////////////////////////////

// applies the pretty_hover mixin to all rIDX pod titles
a.listing-title {
    @include pretty_hover(none, $brand-primary, ease 0.35s);
    color: $brand-primary;
    h4 {
        @include pretty_hover(none, $brand-primary, ease 0.35s);
    }
}

// no borders, please
.tab-content,
.banner .top-header,
ul.nav.nav-tabs,
.navbar-default,
.hji-home-value-form.widget,
.quick-search-widget-wrapper {
    @include no_borders; 
}

// makes the rIDX listings grid 3/4 width centered on the screen on $screen-xs
.idx-results {
    @include mobile_landscape {
        width: 75%;
        margin: auto;
    }
}

// applies the tab_styling mixin to tabs
.nav-tabs> li.active> a, 
.nav-tabs> li.active> a:hover, 
.nav-tabs> li.active> a:focus {
    @include tab_styling;
}

////////////////////////////////////////
//    $header   [_head_]
////////////////////////////////////////

.header-widgets.container {
    @media(min-width: $grid-float-breakpoint) {
        width: 98%;
    }
}

.blvd-responsive-menu ul li {
    border-right: 1px solid $brand-primary-light-20;
    &:last-child {
        border-right: none;
    }
}



// styling for the menu in the top-header area
.top-header-widgets .nav-pills {
    li.current-menu-item  a {
        background-color: $brand-primary;
        color: $white;
        &:focus,
        &:hover,
        &:active {
            background-color: $brand-primary;
            color: $white;
        }
    }
    li a {
        font-family: $navbar-font-family;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 5px 10px;
        &:hover,
        &:focus,
        &:active {
            background-color: $brand-primary;
            color: $white;
        }
    }
}

// styling for the mobile menu hamburger toggle
.navbar-default .navbar-toggle {
    border: 0;
    background-color: $brand-primary;
    &:hover, 
    &:focus,
    &:active {
        border: 0;
        background-color: $brand-primary-light-20;
    }
}

// styling for the number in the header
.number-custom-contact {
    margin: 0;
    @media(min-width: $grid-float-breakpoint) {
        margin-top: 5rem;
    }
}

// styling for the menu above the $grid-float-breakpoint
.banner .header-widgets .blvd-responsive-menu {
    @media (min-width: $grid-float-breakpoint) {
        padding: 10px 0px;
        background: $brand-primary;
        border-radius: 4px;
    }
}

// this block sets styles the dropdown items in the main menu
.blvd-responsive-menu .dropdown-menu > li > a {
    &:hover,
    &:active,
    &:focus {
        color: $white;
        background-color: $brand-primary;
        text-decoation: none;
    }
}

.blvd-responsive-menu .nav > li > a {
    // padding: 10px 5px;
}

// styling for the tagline text in the header
.custom-header-text h2 {
    font-size: 2.8em;
    text-align: center;
    line-height: 1.1em;
    margin-top: 7rem;
}

// styles the phone number in the header
.big_phone {
  color: $black;
  font-size: 4rem;
  line-height: 1em;
  padding: 10px 0px 0px;

}

// styles the email text in the header
.email_text{
    font-size: 13px;
    letter-spacing: 1px;
    @media (min-width: $grid-float-breakpoint) {
        font-size: 15px;
    }
}

// the checklist button
.btn-header-cta {
    color: #333;
    background-color: #f0f0f0;
    border-color: #c2c2c2;
    margin-top: 1rem;
    padding: 1rem 10%;
}

// styles for the whole header contact section
.number-center {
  display: inline;
  @media (max-width: $grid-float-breakpoint){
    display: none;
  }
}

.custom-header-menu ul li {
    float: right;
}

.socialmedia-header {
    font-size: 2rem;
    text-align: right;
}

img#site-logo {
    @media(max-width: $grid-float-breakpoint) {
        width: 60%;
    }
}

.blvd-responsive-menu ul.nav.navbar-nav {
    background-color: $brand-primary;
}

////////////////////////////////////////
//    $home-page    [_home_]   
////////////////////////////////////////

.first-widget {
	margin-top: 5rem;
	@media(min-width: $screen-md) {
		margin-top: 16rem;
	}
}

.clients-logo h3 {
    @media(min-width: $screen-md) {
    	font-size: 2rem;
    }
}

.home .widget_promoted_listings_widget {
    @media(max-width: $screen-sm) {
    	margin-top: 4rem !important;
    }
    @media(min-width: 480px) and (max-width: $screen-md) {
        width: 75%;
        margin: auto;
        margin-top: 5rem;
    }
}


.clients-logo h3,
.about-us-subtitle,
a.listing-title h4,
h3.custom-homepage-cta-subtitles {
    font-family: Montserrat;
}


/*
 * BEGIN $custom_homepage_widgets
 * These styles govern the custom quicksearch/home valuation widget
 * on the homepage.
*/

// sets a margin on the whole wrapper
.homepage-custom-widget {
    margin-top: 10rem;
    text-align: center;
}

// the icons above the forms
.fa-custom-widget {
    font-size: 5.5em;
    display: block;
    @media (max-width: 1199px){
      font-size: 4.5em;
    }
}

// syles for the menu that holds the two buttons above the forms
.homepage-custom-widget-menu {
    text-align: center;
    display: inline-block;
}

// styling for the menu items
.homepage-custom-menu {
    li.active a {
        &:focus,
        &:active,
        &:hover {
            font-family:$navbar-font-family;
            text-transform: uppercase;
            letter-spacing: 1px;
            background: #000;
            opacity: 0.8;
            border: 0px;
            color: $brand-primary;
            text-align: center;
            margin: 0 auto;
        }
    }
    @media (min-width: 992px) {
      border-bottom-width: 0;
      display: block;
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      right: 50%;
  }
}

// styling for the menu item links
.homepage-custom-widget-menu-link {
  width: 150px;
  font-size: 13px;
  font-weight: bold;
  font-family:$navbar-font-family;
  text-transform: uppercase;
  background: $brand-third;
  opacity: 0.9;
  border: 0px;
  color: $brand-second;
  text-align: center;
  margin: 0 auto;
  @media (max-width: 1199px) {
    width: 120px;
    font-size: 11px;
  }

}

// establishes the title style
h1.custom-widget-title {
    color: #fff !important;
    font-size: 3.2em;
    text-shadow: 1px 1px #333 !important;
    text-align: center;
    @media(max-width: 1200px){
        font-size: 2.4em;
    }
}

// establishes the color for the wrapper that the form is in
.custom-widget-content {
  background-color: rgba($black, 0.85);
}

// padding for the pane that the form is in
.custom-widget-pane {
    padding: 1rem 2rem;
}

/*
 * END $custom_homepage_widgets
*/

/*
 * BEGIN $first_homepage_widgets
 * These styles govern the first widget area on the homepage.
*/

.first-widget {
  margin-top: 10rem;
  padding: 4rem 0px;
}

.custom-homepage-cta-subtitles {
    font-family:$navbar-font-family;
    text-transform: uppercase;
    font-size: 1.1em;
}

.our-services-title {
    font-size: 3.5em;
    color: #000;
    margin-bottom: 20px;
}

.homepage-video-pod {
    margin-bottom: 5%;
}

/*
 * END $first_homepage_widgets
*/

/*
 * BEGIN $second_homepage_widgets
 * These styles govern the second widget area on the homepage.
*/

.second-widget{
  padding: 3rem 0px;
  background: $brand-primary;
  color: $white;
}

.video-wrapper {
    margin: auto;
    @media(min-width: $screen-sm) {
        width: 75%;
    }
}

.about-us-title {
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
}

.about-us-subtitle {
    font-family: $navbar-font-family;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.1em;
}

.widget_recent_entries {
  background: #000;
  margin: -3rem 0;
  padding: 2rem;
  h2{
      color: #fff;
  }
  ul {
    padding-left: 0;
    li {
        border-bottom: 1px dashed #fff;
        padding: 1rem 10px 1rem 0;
        margin-left:-5px !important;
        a {
            color: #fff;
            &:before {
                content: "\f178";
                font-family: FontAwesome;
                display: inline-block;
                padding-right: 1em;
                margin-right:7px !important;
            }
        }
    }
  }
  @media(min-width: $screen-md) {
      margin: initial;
      // padding: initial;
  }
}

/*
 * END $second_homepage_widgets
*/

/*
 * BEGIN $third_homepage_widgets
 * These styles govern the third widget area on the homepage.
*/

.third-widget {
  padding: 4rem 0;
  width: 100%;
  padding: 0 5%;
}

h1.affiliations-title {
    text-align: center;
}
  
h3.affiliations-company {
    font-family:$navbar-font-family;
    text-transform: uppercase;
    font-size: 2rem;
}
  
.clients-logo {
    text-align: center;
    img {
        height: 90px;
    }
    @media (min-width: 992px) {
        border-right: 1px solid #cccccc;
        &:last-child {
            border-right: none;
        }
    }
}

.fa-services-links,
a.service-link {
    font-size: 2.25rem;
}

////////////////////////////////////////
//    $content-pages    [_cont_]
////////////////////////////////////////

// makes a top & bottom margin on all page content not on the homepage
body:not(.home) #content {
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: #000 1px 2px 20px;
}

// for the partners page
.partner-profession {
    font-family: helvetica, sans-serif;
    margin: 0.5rem auto;
    font-wieght: bold;
    color: $brand-third;
}

// styles the partners name in the perferred partners page
h2.partner-name {
    margin-bottom: 0;
    color: $brand-primary;
}

p.parter-company {
    color: #000;
    font-weight: bold;
    font-size: 1.75rem;
    margin: 0.5rem auto 0 auto;
}

.seller-video-wrapper {
    @media(min-width: $screen-md) {
        width: 75%;
        margin: auto;
    }
}

////////////////////////////////////////
//    $footer   [_foot_]   
////////////////////////////////////////

#footer{
  margin: 0 auto;
  text-align: center;
  .line {
      border-bottom: 1px solid #fff;
      display: block;
      padding: 0px 0px 20px;
      margin-bottom: 20px;
  }
}

// a bottom margin for the footer widgets so they don't sit right on top of the copyright
.footer-widgets.row {
  margin-bottom: 2rem;
}

#footer .nav-pills > li.active > a, 
#footer .nav-pills > li.active > a:focus, 
#footer .nav-pills > li.active > a:hover {
    background-color: white;
    color: $brand-primary;
}

// creates the box around the social icons in the footer
.socialmedia-footer {
  .fa:before {
    display: block;
    font-size: 30px;
    line-height: 40px;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    transition: all 0.2s ease-in-out 0s;
    margin: 10px 10px 10px 10px;
    color: #fff;

  }

}

.footer-menu-wrapper {
    .nav {
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        li a {
            // color: $brand-primary;
          padding: 5px 8px;
          // font-weight: 400;
          font-family: $navbar-font-family;
          // font-size: 13px;
          text-transform: uppercase;
        }
    }
}

ul#menu-sub-menu-1 {
    display: inline-block;
}



#copyright{
    margin-top: 30px;
}

.first-widget-lower .embed-responsive.embed-responsive-16by9 {
    margin-bottom: 3rem;
}

.widget_recent_entries {
    @media(max-width: $screen-md) {
        margin: initial;
    }
}

.home .idx-display-options {
    display:none;
}